*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html
{
    height: 100%;
}
body
{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
            'Open Sans', 'Helvetica Neue', sans-serif;
            min-height: 100%;
    display: flex;
    flex-direction: column;
}

nav
{
    height: 100px;
    width: 100%;
    background:black;
}

label.logo
{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding-left: 40px;
    line-height: 80px;
}

nav ul
{
    float: right;
    margin-right: 10px;
}

nav li
{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    line-height: 50px;
}

nav a
{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}
.btn
{
    float: right;
    margin-top: 23px;
    margin-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    width:120px;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 20px;
    background: transparent;
    color: white;
    transition: 0.5s linear;
    cursor: pointer;
}

.btn:hover
{
    background: white;
    color: red;
    border:2px solid red;
}
nav .icon
{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

footer
{
    background-color: black;
    width: 100%;
    height: 20vh;
    bottom: 0;
    color: white;
    margin-top: auto;
}
.h
{
    position:relative;
    bottom: 24%;   
    width: fit-content;
    margin-left: 40%;
}
.main
{
    position: relative;
    top: 10%;
    left: 3%;
    width: fit-content;
    font-size: 15px;
}
.main a
{
 color: white;
}
.main1
{
    position: relative;
    right: 0;
    bottom: 38%;
    margin-left: 80%;
}
.main1 i
{
padding-right: 40px;
}

.main2
{
    position: absolute;
    right: 0;
    top: 40%;
    display: none;  
}

.line1
{
    margin-top: 10px;
    margin-left: 30px;
}

.j1
{
    margin-left: 10px;
    margin-right:50px;
    float: left;
    width: 360px;
    height: 470px;
    border: 1px solid black;
    margin-bottom: 20px;
    /* border-radius: 15px; */
}
.head1
{
    text-align: center;
}
.head1 h1
{
    text-decoration: underline;
}
.rname
{
    position: relative;
    /* background-color: aquamarine; */
    text-align: center;
    margin-top: 20px;
}

marquee
{
    background: gold;
    font-size: 20px;
    font-weight: 600;

}

@media (max-width:1024px)
{
    nav
    {
        position: fixed;
        margin: 0;
    }
    marquee
    {
        top: 100px;
        position: fixed;
    }

    label.logo
    {
        font-size: 25px;
        padding-left: 40px;
        line-height: 90px; 
    }  

    nav li
    {
        margin-top: 25px;
    }

    nav a
    {
    color: white;
    font-size: 15px;
   }

    .btn
    {
    margin-top:32px ;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    }
    .main1
    {
        position: relative;
        margin-left: 75%;
    }
    .main2 i
    {
    padding-right: 20px;
    }
    .h
    {
    margin-left: 35%;
    }

    footer h2
    {
    font-size: 25px;
    }
    footer
    {
    height: 30vh;
    }
    .main
    {
        margin-top: 20px;
    }
    .head1
    {
        position: relative;
        margin-top: 100px;
    }
    
}

@media (max-width:768px)
{
    nav .icon
    {
        display: block;
        margin-top: 10px;
        margin-right: 3px;
       color: white;
        font-size: 25px;
        float: right;
        cursor: pointer;
    }
    label.logo
    {
        font-size: 25px;
        padding-left: 40px;
        line-height: 90px; 
    }  

    nav a
    {
    color: white;
    font-size: 20px;
    }
   nav ul
   {
    position: fixed;
    width: 100%;
    background: brown;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
   }
   nav ul li
   {
    margin-top: 22px;
    max-height: fit-content;
   }
   .btn
   {   
    padding-top: 5px;
    padding-bottom:5px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;
    max-width: fit-content;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 20px;
    transition: none;
    }
    .btn:hover
    {
    background:transparent;
    }
    nav li
    {
        display: block;
    }

    nav
{
    height: 80px;
    width: 100%;
    background:black;
}

    nav ul.show
    {
        left: 0;
    }
}

    @media screen and (max-width:425px)
    {
        
        nav a
        {
        color: white;
        font-size: 20px;
        } 
        nav .icon
        {
            margin-top: 8px;
            font-size: 20px;
        }

        label.logo
        {
            font-size: 20px;
        }
        .btn
        {   
            font-size: 15px;
        }
        nav ul
        {
            background: brown;
        }

        footer
        {
            height: 40vh;
            width: 100%;
            position: absolute;
            bottom: 0%;
        }
        footer h2
        {
            display: none;
        }
        .main2
        {
            position: relative;
            top:80% ;
            left: 38%;
        }
        .main
        {
            position: absolute;
            top: 10%;
            left: 44%;
        }
        .main li  
        {
            padding-top: 5px;
        }
        html,body
        {
        width: 100%;
        overflow-x: hidden;
    }
    }
    


